* {
	box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.68), rgba(28, 28, 31, 0.1)), -webkit-linear-gradient(rgba(28, 28, 31, 0.5), rgba(28, 28, 31, 0.3)), url(cat.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

footer{
	width: 66%;
	display:inline-block;
	position: fixed;
	height: 230px;
	bottom: 0;
}

h1 {
    border: 1px solid #7D7E7F;
    border-radius: 60px;
    letter-spacing: 5px;
    background-color: #2A2933;
}

.page-one-input, #first-search-button  {
	font-family: 'Josefin Sans', sans-serif;
	margin: 10px auto;
}


.hidden {
	display: none;
}

.header1 {
    position: relative;
}

.header1::before {
	content: ' ';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 50%;
    border-bottom: 1px solid #7D7E7F;
    z-index: -1;
}
    

#page-one-header {
	text-align: center;
	margin: 50px auto 100px auto;
	font-size: 100px;
	color: #e1f2ff;
	cursor: default;
	font-weight: normal;
	width: 40%;
}

#page-one-header::before {

}

#page-one-header, #nav-header {
	font-family: 'Cardo', serif;
}

#greeting {
	font-size: 35px;
	width: 45%;
	margin: 0 auto 50px auto;
	color: #fdf7ee;
	text-align: center;
}

#first-form {
	font-size: 30px;
	color: #fff1dc;
	text-align: center;
}

.js-animal-choice {
	cursor: pointer;
}

.page-one-input {
	width: 300px;
	height: 30px;
	font-size: 20px;
}

#size-selector {
	cursor: pointer;
}

#first-search-button {
	width: 100px;
	height: 35px;
	border-radius: 65px;
	font-size: 20px;
	cursor: pointer;
	background-color: #2A2933;
	color: #fff1dc;
	border: 1px solid grey;
	transition-duration: .3s;
  	transition-timing-function: ease;
}

#first-search-button:hover {
	background-color: #27272f;
	color: white;
	letter-spacing: 1.4px;
	border-radius: 65px;
	width: 120px;
}

#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-size: 15px;
	height: 60px;
}

#powered-by {
	display: inline-block;
	padding-top: 40px;
}

#navbar {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 78px;
	background-color: #110f29;
}

#nav-header {
	color: #e1f2ff;
	cursor: pointer;
	font-weight: normal;
	padding: 3px;
	font-size: 35px;
	margin: 12px 5px;
	width: 22%;
	text-align: center;
	background-color: rgba(5, 37, 102, .1);
}

#nav-button {
	position: absolute;
	right: 30px;
	top: 30px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	cursor: pointer;
	color: rgb(225, 242, 255);
	background-color: #110f29;
	border: none;
}

#no-results-found {
	font-weight: normal;
	color: #fff1dc;
	width: 65%;
	margin: 95px auto;
	font-size: 50px;
}

#search-again {
	color: #c7e5ff;
	cursor: pointer;
}

#search-again:hover {
	text-decoration: underline;
}

#sadcat-pic {
	width: 70%;
	margin-left: 100px; 
}

#address-instructions-box {
	margin: 130px 0 0 20px;
}

#address-instructions-box, #address-instructions {
	font-weight: normal;
	text-decoration: none;
	font-size: 25px;
	width: 85%;
	color: #fff1dc;
}

#pet-choices {
	width: 66%;
	display:inline-block;
	position: fixed;
	top: 77px;
	bottom: 24px;
	overflow: auto;
}

.pet {
	width: 45%;
	display: inline-block;
	padding: 15px 30px;
}

.pet-pic {
	width: 100%;
	height: 290px;
	cursor: pointer;
}

.pet-name {
	font-size: 25px;
	font-weight: normal;
	color: #c7e5ff;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
}

.pet-name:hover {
	text-decoration: underline;
}

.pet-info {
	list-style-type: none;
	padding-left: 0;
	font-size: 20px;
	color: #fff1dc;
	cursor: pointer;
}

.pet-age, .pet-gender, .pet-size {
	display: inline-block;
}

#map {
	width: 100%;
	height: 100%;
}

#map-section {
	position: fixed;
	right: 0px;
	top: 77px;
	bottom: 0px;
	width: 33%;
}

#github-logo {
	width: 60px;
	height: 60px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.links {
	text-decoration: none;
	color: #fff1dc;
}

/*styles for modal*/

#modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: .50;
	-webkit-opacity: .5;
	-moz-opacity: .5;
	filter: alpha(opacity=50);
	z-index: 1000;
}

#modal-content {
	background-color: rgb(49, 65, 99);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 20px 0 #222;
	-webkit-box-shadow: 0 0 20px 0 #222;
	-moz-box-shadow: 0 0 20px 0 #222;
	display: none;
	margin: 200px auto;
	padding: 10px;
	position: relative;
	width: 65%;
	height: 50%;
	overflow: auto;
	max-width: 1000px;
	z-index: 1000;
}

#xbutton {
	width: 3%;
	position: absolute;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

#left-arrow {
	width: 4%;
	position: absolute;
	cursor: pointer;
	margin: auto;
	top: 370px;
	left: 15px;
	float: left;
}

#right-arrow {
	width: 4%;
	position: absolute;
	cursor: pointer;
	margin: auto;
	top: 370px;
	right: 15px;
}

#left-arrow:hover {
	width: 4.5%
}

#right-arrow:hover {
	width: 4.5%
}

#modal-pet-name {
	font-size: 50px;
}

.modal-pet-pic {
	margin: 50px auto;
	display: block;
	width: 60%;
}

#modal-pet-info {
	color: #fff1dc;
	font-size: 20px;
	list-style: none;
}

#description-header {
	font-weight: normal;
	font-size: 45px;
	color: #c68b81;
}

#modal-pet-description {
	width: 90%;
	text-align: center;
	position: relative;
	margin: 30px auto;
	color: #c68b81;
	font-size: 22px;
	height: 250px;
	border: 1px solid rgb(239, 226, 195);
	overflow: auto;
	padding: 20px;
	border-radius: 5px;
}

#modal-background.active, #modal-content.active {
	display: block;
}

@media (min-width: 1500px) {
	.pet {
		width: 25%;
	}

	#sadcat-pic {
		width: 60%;
		margin-left: 150px;
	}
	.page-one-label {
		padding: 8px;
	}
}

@media (max-width: 1677px) {
	.page-one-label {
		display: block;
		width: 80%;
		margin: 20px auto;
	}

	.page-one-input {
			display: block;
	}
}

@media (max-width: 1300px) {
	#page-one-header {
		font-size: 85px;
		width: 45%;
	}

	#greeting {
		font-size: 28px;
	}


	#nav-form {
		margin-bottom: 30px;
	}
}

@media (max-width: 900px) {

	#page-one-header {
		font-size: 100px;
		width: 90%;
	}

	#navbar {
		height: 60px;
	}

	#pet-choices {
		width: 98%;
	}

	#nav-header {
		font-size: 30px;
		width: 30%;
		margin: 6px 5px;
	}

	#nav-button {
		width: 30%;
		top: 10px;
		font-size: 15px;
	}

	.pet {
		width: 50%;
	}

	#map-section {
		display: none;
	}

	#github-logo {
		right: 10px;
		position: fixed;
	}

	#xbutton {
		width: 6%;
	}
}

@media (max-width: 600px) {

	#page-one-header {
		font-size: 60px;
	}

	#nav-form {
		width: 40%;
	}

	#nav-header {
		font-size: 25px;
		width: 40%;
	}

	.pet {
		width: 90%;
	}

	#sadcat-pic {
		margin-left: 70px;
	}
}